<div class="panel-div">
  <div>
    
    <div class="hero">
      <header class="primary-header">
        <nav class="primary-nav">
          <a href="/home">Home</a>
          <a href="/account">Account</a>
        </nav>
      </header>

      <h3 class="banner">The Gift List App</h3>
    </div>

    <div class="content">
      <ul class="tabs" data-tab>
        <li class="tab-title"><a href="#panel1">You</a></li>
        <li class="tab-title active"><a href="#panel2">Users</a></li>
      </ul>

      <div class="tabs-content">
        <div class="content" id="panel1">
          <p>This is the first panel of the basic tab example. You can place all sorts of content here including a grid.</p>
        </div>
        <div class="content active" id="panel2">
          <div class="row">
            <div class="small-3 columns">
              <div>
                <div class="user-bg">
                  <h6 class="user-name">Awesome Name</h6>
                </div>
                <div class="list-type-container">
                  <a class="list-type-item" href="">List Item 1</a>
                  <a class="list-type-item" href="">List Item 2</a>
                  <a class="list-type-item" href="">List Item 3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>