<div class="panel-div">
  <div>
    
    <div class="hero">
      <header class="primary-header">
        <nav class="primary-nav">
          <a href="/#/home">Home</a>
          <a href="/#/home">Account</a>
        </nav>
      </header>

      <h3 class="banner">The Gift List App</h3>
    </div>

    <div class="content">
      <ul class="tabs" data-tab>
        <li class="tab-title" ng-class="{active: vm.panel1Active}"><a ng-click="vm.panel1Active = true; vm.panel2Active = false">You</a></li>
        <li class="tab-title" ng-class="{active: vm.panel2Active}"><a ng-click="vm.panel2Active = true; vm.panel1Active = false">Users</a></li>
      </ul>

      <div class="tabs-content">
        <div class="content" ng-class="{active: vm.panel1Active}" id="panel1">
          <div class="media-object">
            <img src="https://image-gr.s3.envato.com/files/8679582/361.png" alt="">
            <div>
              <a href="">List Type</a>
              <a href="">List Type</a>
              <a href="">List Type</a>
              <a href="">List Type</a>
            </div>
          </div>
        </div>
        <div class="content" ng-class="{active: vm.panel2Active}" id="panel2">
          <div class="row">
            <div ng-repeat="user in vm.users" class="small-3 columns">
              <div>
                <div class="user-bg">
                  <h6 class="user-name">{{user.name}}</h6>
                </div>
                <div class="list-type-container">
                  <a ng-repeat="listType in user.lists" class="list-type-item" href="">{{listType}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>