<h3 style="text-align:center;">Gift List</h3>
<div class="row">
  <div class="large-4 columns">&nbsp;</div>
  <div class="large-4 columns">

    <div data-alert class="alert-box alert">
      <p>User not found</p>
    </div>

    <form ng-submit="vm.runLogin()">
      <h2>Log in</h2>
      <label for="inputEmail">Email address</label>
      <input ng-model="email" type="email" id="inputEmail" placeholder="Email address" required autofocus>
      <label for="inputPassword">Password</label>
      <input ng-model="password" type="password" id="inputPassword" placeholder="Password" required>
      <button class="button small " type="submit" value="Log In">Sign in</button>
    </form>
  </div>
  <div class="large-4 columns">&nbsp;</div>

</div>