<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="untitled.css">
</head>
<body>
  <div class="row">
    <div class="small-3 columns">
      <div>
        <div class="user-bg">
          <h6 class="user-name">Awesome Name</h6>
        </div>
        <div class="list-type-container">
          <a class="list-type-item" href="">List Item 1</a>
          <a class="list-type-item" href="">List Item 2</a>
          <a class="list-type-item" href="">List Item 3</a>
        </div>
      </div>
    </div>
    <div class="small-3 columns">
      <div>
        <div class="user-bg">
          <h6 class="user-name">Awesome Name</h6>
        </div>
        <div class="list-type-container">
          <a class="list-type-item" href="">List Item 1</a>
          <a class="list-type-item" href="">List Item 2</a>
          <a class="list-type-item" href="">List Item 3</a>
        </div>
      </div>
    </div>
    <div class="small-3 columns">
      <div>
        <div class="user-bg">
          <h6 class="user-name">Awesome Name</h6>
        </div>
        <div class="list-type-container">
          <a class="list-type-item" href="">List Item 1</a>
          <a class="list-type-item" href="">List Item 2</a>
          <a class="list-type-item" href="">List Item 3</a>
        </div>
      </div>
    </div>
    <div class="small-3 columns">
      <div>
        <div class="user-bg">
          <h6 class="user-name">Awesome Name</h6>
        </div>
        <div class="list-type-container">
          <a class="list-type-item" href="">List Item 1</a>
          <a class="list-type-item" href="">List Item 2</a>
          <a class="list-type-item" href="">List Item 3</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>