<!DOCTYPE html>
<html>
    <head>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/user-item.css">
    <link rel="stylesheet" href="/components/foundation/css/foundation.min.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/styles/login.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Math Reactor</a>
                </div>
            </div>
        </nav>

        <div class="container">

          <form class="form-signin" action="/signup" method="post">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign up">Sign up</button>
          </form>

        </div> <!-- /container -->


 <!--        <div>Sign Up</div>
        <form ng-submit="runSignup()">
            <label>Email</label>
            <input ng-model="email" type="text" name="email" placeholder="Email Address" required />
            <label>Password</label>
            <input ng-model="password" type="password" name="password" placeholder="Password" required />
            <input type="submit" class="button expand" value="Create Account"/>
        </form> -->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/foundation/js/foundation.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/js/public/MainCtrl.js"></script>
    <script src="/js/public/home/HomeCtrl.js"></script>
    <script src="/js/public/home/HomeMod.js"></script>
    <script src="/js/public/login/LoginCtrl.js"></script>
    <script src="/js/public/login/LoginMod.js"></script>
    <script src="/js/public/signup/SignupCtrl.js"></script>
    <script src="/js/public/signup/SignupMod.js"></script>
    <!--SCRIPTS END-->
    </body>